[Unit]
Description=OpenVPN Docker Container

# Requirements
Requires=docker.socket

# Dependency ordering
After=network.target docker.socket

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

RestartSec=10
Restart=always

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

Environment="NAME=openvpn-%i"
Environment="DATA_VOL=openvpn-data-%i"
Environment="IMG=skopciewski/openvpn:latest"
Environment="PORT=%i:1194/udp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-openvpn@foo.d/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run -d --volumes-from ${DATA_VOL} --name ${NAME} -p ${PORT} --cap-add=NET_ADMIN ${IMG}

[Install]
WantedBy=multi-user.target
